* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: teal;
}

.container {
    width: 300px;
    height: 200px;
    border: 5px solid black;
    padding: 20px;
    background-color: white;
    margin: 30px auto;
}

.container-create {
    margin-top: 400px;
    margin: 300px auto;
    width: 300px;
    border: 5px solid black;
    background-color: white;
    padding: 10px;
}

.button {
    margin-bottom: 10px;
}